*, *::before, *::after {

    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body{

    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);

}

.calculator-style{

    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);


}